%h1 Projects

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Ends at
      %th{:colspan => "2"}
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.name, project
        %td= project.ends_at
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }

%p= link_to 'New Project', new_project_path
