%h1= @project.name

%p
  %strong Ends at:
  = @project.ends_at

%p.text-muted
  Created
  =time_ago_in_words @project.created_at
  ago.

= link_to 'Edit', edit_project_path(@project)
|
= link_to 'Back', projects_path

%h3 Tasks

-unless @project.tasks.any?
  %p.text-muted There are no tasks for this project yet.

%ul.list-group.col-md-4
  -@project.tasks.each do |task|
    %li.list-group-item
      =check_box "task_#{task.id}", :done, checked: task.done
      =task.name
  %li.list-group-item
    = form_for [ @project, @project.tasks.build ] do |f|
      .input-group
        = f.text_field :name, class: "form-control", placeholder: "Quickly add a new task"
        %span.input-group-btn
          = f.submit 'Add task', class: "btn btn-primary"
