!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fiverails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'special', media: 'all', 'data-turbolinks-track' => true
    %link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,300italic,300' rel='stylesheet')/
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "nav"
    .container
      =content_tag :div, notice, class: "bg-success" if notice
      =content_tag :div, alert, class: "bg-danger" if alert
      = yield
